<div id="wrapper">

  <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav" ng-controller="SessionController">
            <li class="sidebar-brand">
                <a href="/registry">
                    <img class="logo" src="img/icon.svg">
                </a>
            </li>
            <li>
                <a href="/registry"><img src="img/stacks.svg"></a>
            </li>
            <li>
                <a ng-click="signin('/mystacks')" style="cursor:pointer;"><img src="img/my_stacks.svg"></a>
            </li>
            <li>
                <a ng-click="signin('/favorites')" style="cursor:pointer;"><img src="img/star.svg"</a>
            </li>
        </ul>
    </div>
    <div id="page-content-wrapper">
        <div id="create" class="row">
            <div id="section-title" ng-controller="SessionController">
                <h2><a href="/registry">Stackfiles.io</a></h2>
                <div class="dropdown pull-right login">
                  <button class="dropdown-toggle " ng-show="user!='undefined'" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{user}}
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a ng-click="logout()" style="cursor: pointer;">Logout</a></li>
                  </ul>
                </div>
                <a class="pull-right login" ng-click="signin('/registry');" ng-hide="user!='undefined'">Login</a>
            </div>
            <div class="col-lg-12 gradient">
                <div class="elem-bar">
                    <h2>Submit Stackfile</h2>
                </div>
            </div>
            <div class="col-lg-12">
                <div id="detail-create" class="container-fluid">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <form name="newStackfileForm">
                            <div class="inputs">
                                <input type="text" class="form-control floating-label" autofocus id="title" placeholder="Stack name" ng-change="getOrgs()" ng-model="data.title">
                                <div class="select">
                                    <select chosen disable-search="false" data-placeholder="Organization"
                                    ng-model="data.orgname" ng-change="getRepos()" ng-options="org for org in orgs"
                                    style="width:180px;">
                                        <option></option>
                                    </select>
                                    <select chosen disable-search="false" data-placeholder="Repository"
                                    ng-model="data.reponame" ng-change="getBranches()" ng-options="repo for repo in repos"
                                    style="width:180px;">
                                        <option></option>
                                    </select>
                                    <select chosen disable-search="false" data-placeholder="Branch"
                                    ng-model="data.branch" ng-options="branch for branch in branches"
                                    style="width:180px; margin-right:20px">
                                        <option></option>
                                    </select>
                                </div>
                                <input type="text" class="create-form form-control floating-label" id="title" placeholder="Path" ng-disabled="!(!!data.reponame && !!data.orgname  && !!data.branch)" ng-model="data.path" ng-change="getComposeFile(data.orgname, data.reponame, data.branch, data.path)">
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-12">
                        <div class="stackfile">
                            <h4>Stackfile</h4>
                            <pre>{{stackfile}}</pre>
                            <p>Not sure what a stackfile is? <a href="https://support.tutum.co/support/solutions/articles/5000583471" target="_blank">Click here to learn more</a></p>
                        </div>
                        <div class="validation pull-right">
                            <a href="/registry" class="btn boxed-btn cancel-btn">Cancel</a>
                            <button type="submit" class="btn boxed-btn create-btn" ng-disabled="!(!!data.reponame && !!data.orgname  && !!data.branch && !!data.path && !!data.title)" ng-click="createNew()">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
