<div class="col-lg-12 gradient">
    <div class="elem-bar">
        <h2>Submit Stackfile</h2>
    </div>
</div>
<div class="col-lg-12">
    <div id="detail-create" class="container-fluid">
        <div class="col-lg-5 col-md-5 col-sm-12">
            <form name="newStackfileForm">
                <div class="timeline">
                    <div class="bullet">1</div>
                    <div class="bullet" style="margin-top: 150px;">2</div>
                </div>
                <div class="inputs">
                    <input type="text" class="form-control floating-label" autofocus id="title" ng-init="data.path = '/'; stackfile = 'Window will automatically refresh after filling form.'" placeholder="Stack name" ng-model="data.title">
                    <textarea type="text" class="form-control floating-label" id="title" placeholder="Description"  ng-change="getOrgs()" ng-model="data.description"></textarea>
                    <div class="select">
                        <select chosen disable-search="false" ng-disabled="true" data-placeholder="Organization"
                        ng-model="data.orgname" no-results-text="Loading" ng-change="getRepos()" ng-options="org for org in orgs"
                        style="width:180px;">
                            <option></option>
                        </select>
                        <select chosen disable-search="false" data-placeholder="Repository"
                        ng-model="data.reponame" no-results-text="Loading" ng-change="getBranches()" ng-options="repo for repo in repos"
                        style="width:180px;">
                            <option></option>
                        </select>
                        <select chosen disable-search="false" data-placeholder="Branch"
                        ng-model="data.branch" ng-options="branch for branch in branches"
                        style="width:180px; margin-right:20px" no-results-text="Loading" ng-change="getComposeFile(data.orgname, data.reponame, data.branch, data.path)">
                            <option></option>
                        </select>
                    </div>
                    <input type="text" class="create-form form-control floating-label" id="title" placeholder="Stackfile path" ng-disabled="!(!!data.reponame && !!data.orgname  && !!data.branch)" ng-model="data.path" ng-change="getComposeFile(data.orgname, data.reponame, data.branch, data.path)">
                </div>
            </form>
        </div>
        <div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-12">
            <div class="stackfile">
                <h4>Stackfile</h4>
                <pre>{{stackfile}}</pre>
                <p>Not sure what a stackfile is? <a href="https://support.tutum.co/support/solutions/articles/5000583471" target="_blank">Click here to learn more</a></p>
            </div>
            <div class="validation pull-right">
                <a href="/registry" class="btn boxed-btn cancel-btn">Cancel</a>
                <button type="submit" class="btn boxed-btn create-btn" ng-disabled="!(!!data.reponame && !!data.orgname  && !!data.branch && !!data.path && !!data.title ) || locked" ng-click="createNew()">Submit</button>
            </div>
        </div>
    </div>
</div>
