<div id="hero-header">
    <div class="brand">
        Stackfiles.io
    </div>
    <div class="container">
        <div class="content">
            <h1>Find the perfect Stack for your next project</h1>
            <input class="form-group search" placeholder="Try searching Python, Wordpress, Redis, MySQL, HAProxy, etc.">
            <br>
            <a class="btn boxed-btn browse-btn" href="/registry">Browse</a>
            <a class="btn boxed-btn github-btn" href="/create"><i class="fa fa-github"></i> Share my stack</a>
        </div>
    </div>
    <div class="footer" style="text-align: center;">
        <p>Created with love by Tutum</p>
    </div>
</div>
