<div id="hero-header">
    <div class="brand">
        Stackfiles.io
    </div>
    <div class="container">
        <div class="content">
            <h1>Find the perfect Stack for your next project</h1>
            <div class="subtitle">Getting a jumpstart using Docker is just a click away</div>
            <input class="form-group search" placeholder="Try searching Python, Wordpress, Redis, MySQL, HAProxy, etc." ng-enter="search()" ng-model="data.search">
            <div>
                <a class="btn boxed-btn browse-btn" href="/registry">Browse</a>
                <a class="btn boxed-btn github-btn" href="/create"><img src="img/github.svg"> Share my stack</a>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Lovingly created by the team at Tutum</p>
    </div>
</div>
