<div class="container">
    <div style="text-align:center;">
        <h2>Stackfile details</h2>
    </div>
    <div class="col-lg-12">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" placeholder="Title" ng-model="data.title">
        </div>
        <div class="form-group">
          <label for="compose-file">Compose File</label>
          <textarea class="form-control" rows="15" id="compose-file" ng-model="composeFile" disabled/>
        </div>
        <div class="form-group">
          <label for="readme">README</label>
          <textarea class="form-control" rows="7" id="readme" placeholder="Read me" ng-model="data.readme"/>
        </div>
        <div class="form-group">
            <label for="tags">Tags</label>
            <tags-input ng-model="data.tags"></tags-input>
        </div>
        <button type="submit" class="btn btn-default" ng-click="updateFile(data._id)">Update</button>
        <br/>
        <br/>
        <a href="/mystack">Back to my stackfile list</a>
    </div>
</div>
