<div class="container">
    <div style="text-align:center;">
        <h2>Compose files list</h2>
    </div>
    <div class="col-lg-12">
        <input type="text" placeholder="Search by Stack name, username, services" size="50">
        <a class="btn btn-default pull-right" href="/create">Submit Stack File</a>
    </div>
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Number of Services
                    </th>
                    <th>
                        Created by
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="file in files" ng-class-odd="odd" ng-class-even="even">
                    <td><a href="/registry/{{file._id}}">{{file.title}}</a></td>
                    <td></td>
                    <td><a href="{{file.profileLink}}">{{file.user}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
