<div class="col-lg-12 gradient">
    <div class="elem-bar">
        <h2>Stacks</h2>
        <div class="search-container">
            <input type="text" class="search-bar" placeholder="" ng-model="data.search" ng-init="checkSearch()" ng-change="searchFile()">
            <a class="clear-search">
                <span ng-click="data.search = ''">x</span>
            </a>
        </div>
        <a ng-controller="SessionController" class="btn boxed-btn submit-btn pull-right" ng-hide="logged" ng-click="signin('/create')"></i> Submit a Stackfile</a>
        <a class="btn boxed-btn submit-btn pull-right" ng-show="logged" href="/create"></i> Submit a Stackfile</a>
    </div>
</div>
<div id="loading" ng-hide="loaded == true">
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="4" stroke-linecap="round" cx="33" cy="33" r="25"></circle>
    </svg>
</div>
<modal title="Embed" visible="showModal">
    <p>You can embed a Stackfile in any text field that supports Javascript, such as a blog post. Copy the Embed Script below.</p>
    <form role="form">
        <div class="form-group">
            <p>Embed Script <span class="pull-right" ng-hide="copyText.status != 'clicked'">Copied !</span></p>
            <input type="text" onClick="this.setSelectionRange(0, this.value.length)" id="embed" placeholder="script"  ng-model="embedScript" />
            <a ui-zeroclip zeroclip-model="embedScript" ng-click="copyText.status = 'clicked'"><img src="img/copy.svg"></a>
        </div>
    </form>
</modal>
<div class="container-fluid" ng-show="loaded == true">
    <div class="col-lg-11 content-list" ng-show="data.search.length">
        <table ng-show="results.length" class="table">
            <tbody>
                <tr ng-repeat="result in results" ng-class-odd="odd" ng-class-even="even" ng-hide="currentSection === 1">
                    <td class="main"><a class="stack-name" href="/registry/{{result._id}}">{{result._source.title}}</a><p class="stack-services">{{result._source.tags.length}} Services<span class="stack-user">By {{result._source.user}}</span></p></td>
                    <td style="vertical-align:middle"><a class="btn boxed-btn deploy-btn" ng-click="deploy(result._id)" target="_blank">Deploy to Docker Cloud</a></td>
                    <td style="vertical-align:middle" data-toggle="tooltip" data-placement="top" title="Click here to get the embed script"><a style="cursor:pointer;" ng-click="toggleModal(); generateEmbed(result._id);"><img src="img/embed.svg" style="width:24px;"></a></td>
                    <td style="vertical-align:middle; padding-top:33px;" data-toggle="tooltip" data-placement="top" title="Click here to favorite this stack">
                      <svg ng-controller="FavController" ng-click="toggleStatus(result); increment(result._source)" ng-class="{'btn-off':!isSelected(result), 'btn-on':isSelected(result)}" class="star"  width="24px" height="24px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                          <g id="Stackfiles.io" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                              <g id="-star" sketch:type="MSArtboardGroup" fill="#E0E4E7">
                                  <g id="star" sketch:type="MSLayerGroup" transform="translate(4.000000, 4.000000)">
                                      <path d="M40,14.48 L25.62,13.24 L20,0 L14.38,13.26 L0,14.48 L10.92,23.94 L7.64,38 L20,30.54 L32.36,38 L29.1,23.94 L40,14.48 L40,14.48 Z M20,26.8 L12.48,31.34 L14.48,22.78 L7.84,17.02 L16.6,16.26 L20,8.2 L23.42,16.28 L32.18,17.04 L25.54,22.8 L27.54,31.36 L20,26.8 L20,26.8 Z" id="Shape" sketch:type="MSShapeGroup"></path>
                                  </g>
                              </g>
                          </g>
                      </svg><p class="favorite-num">{{result._source.stars}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <div ng-hide="results.length" class="no-content">No result</div>
    </div>
    <div class="col-lg-11 content-list" ng-show="err == true">
        <div class="no-content">
            <p>Oops! Something bad happened!</p>
        </div>
    </div>
    <div class="col-lg-11 content-list" ng-hide="data.search.length || err == true">
        <table class="table">
            <tbody infinite-scroll="files.nextPage()" infinite-scroll-disabled='files.busy' infinite-scroll-distance='0'>
                <tr ng-repeat="file in files.items" ng-class-odd="odd" ng-class-even="even">
                    <td class="main"><a class="stack-name" href="/registry/{{file._id}}">{{file.title}}</a><p class="stack-services">{{file.tags.length}} Services <span class="stack-user">By {{file.user}}</span></p></td>
                    <td style="vertical-align:middle"><a class="btn boxed-btn deploy-btn" ng-click="deploy(file._id)" target="_blank">Deploy to Docker Cloud</a></td>
                    <td style="vertical-align:middle"><a style="cursor:pointer;" data-toggle="tooltip" data-placement="top" title="Click here to get the embed script" ng-click="toggleModal(); generateEmbed(file._id);"><img src="img/embed.svg" style="width:24px;"></a></td>
                    <td style="vertical-align:middle; padding-top:33px;" data-toggle="tooltip" data-placement="top" title="Click here to favorite this stack">
                      <svg ng-controller="FavController" ng-click="toggleStatus(file); increment(file)" ng-class="{'btn-off':!isSelected(file), 'btn-on':isSelected(file)}" class="star"  width="24px" height="24px" viewBox="0 0 48 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                          <g id="Stackfiles.io" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                              <g id="-star" sketch:type="MSArtboardGroup" fill="#E0E4E7">
                                  <g id="star" sketch:type="MSLayerGroup" transform="translate(4.000000, 4.000000)">
                                      <path d="M40,14.48 L25.62,13.24 L20,0 L14.38,13.26 L0,14.48 L10.92,23.94 L7.64,38 L20,30.54 L32.36,38 L29.1,23.94 L40,14.48 L40,14.48 Z M20,26.8 L12.48,31.34 L14.48,22.78 L7.84,17.02 L16.6,16.26 L20,8.2 L23.42,16.28 L32.18,17.04 L25.54,22.8 L27.54,31.36 L20,26.8 L20,26.8 Z" id="Shape" sketch:type="MSShapeGroup"></path>
                                  </g>
                              </g>
                          </g>
                      </svg><p class="favorite-num">{{file.stars}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
