<div id="section-title" ng-controller="SessionController" class="container-fluid">
    <div class="col-lg-11">
        <h2><a href="/registry">Stackfiles.io</a><span>By Docker</span></h2>
        <div ng-show="logged" class="dropdown login">
            <button class="dropdown-toggle pull-right" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{user}}
            <span class="caret"></span>
            </button>
            <img class="avatar pull-right" ng-if="logged" ng-src="{{photo}}">
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a ng-click="logout()" style="cursor: pointer;">Logout</a></li>
            </ul>
        </div>
        <div class="pull-right login"  ng-hide="logged">
            <a ng-click="signin('/registry');">Login</a>
        </div>
    </div>
</div>
