@import url(http://fonts.googleapis.com/css?family=Lato:300,400,400italic);

/*MAIN COMPONENTS*/
html{
    height: 100%;
    -webkit-font-smoothing: antialiased;
    background-color: #FFFFFF;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4{
    font-family: 'Lato';
}

a, a:hover{
    color: #2196F3;
}

#hero-header{
    background-image: -webkit-gradient(
    	linear,
    	left top,
    	right top,
    	color-stop(0, #2196F3),
    	color-stop(1, #31ADBD)
    );
    background-image: -o-linear-gradient(303deg, #2196F3 9%, #15A4D7 54%, #0AB3BC 100%, #00BFA5 100%);
    background-image: -moz-linear-gradient(303deg,#2196F3 9%, #15A4D7 54%, #0AB3BC 100%, #00BFA5 100%);
    background-image: -webkit-linear-gradient(303deg, #2196F3 9%, #15A4D7 54%, #0AB3BC 100%, #00BFA5 100%);
    background-image: -ms-linear-gradient(303deg, #2196F3 9%, #15A4D7 54%, #0AB3BC 100%, #00BFA5 100%);
    background-image: linear-gradient(to 303deg, #2196F3 9%, #15A4D7 54%, #0AB3BC 100%, #00BFA5 100%);
    margin: 0;
    color: white;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

#hero-header h1{
    font-size: 40px;
    font-weight: 300;
}

#hero-header .subtitle{
    font-size: 22px;
    font-weight: 300;
}

#hero-header .brand{
    padding: 20px 50px 20px 50px;
    font-size: 18px;
    font-weight: 400;
}

#hero-header .content{
    text-align: center;
    padding-top: 100px;
}

.row{
    background-color: #FFFFFF;
}

.label{
    background-color: #FFFFFF!important;
}

/*MAIN PAGE COMPONENTS*/

.btn.boxed-btn.github-btn {
    background: #FFFFFF;
    color: #2196F3;
    width: 180px;
    font-size: 14px;
    font-weight: 400;
    padding: 11px 42px 9px 21px!important;
    margin-left: 20px;
}

.btn.boxed-btn.github-btn:hover {
    color: #1D86DA;
    background: #FFFFFF;
}

.btn.boxed-btn.browse-btn{
    color: #FFFFFF;
    width: 180px;
    padding: 11px 60px 9px 60px!important;
}

#hero-header input.search{
    color: #2196F3;
    margin-top: 23px;
    margin-bottom: 36px;
    width: 380px;
    height: 32px;
    font-weight: 400;
    border-radius: 2px;
    border: none;
    padding-left: 14px;
}

#hero-header input::-webkit-input-placeholder {
	color: #2196F3;
    font-size: 12px;
    padding-top: 3px;
}
#hero-header input::-moz-placeholder {
	color: #2196F3;
    font-size: 12px;
    padding-top: 3px;
}
#hero-header input:-moz-placeholder {   /* Older versions of Firefox */
	color: #2196F3;
    font-size: 12px;
    padding-top: 3px;
}
#hero-header input:-ms-input-placeholder {
	color: #2196F3;
    font-size: 12px;
    padding-top: 3px;
}

#hero-header .footer{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 15px;
    font-size: 12px;
    font-weight: 400;
}

/*REGISTRY COMPONENTS*/

/*MAIN APP COMPONENTS*/

#loading{
    text-align: center;
    padding-top: 200px;
}

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #2196f3;
  }
  25% {
    stroke: #2196f3;
  }
  50% {
    stroke: #15a4d7;
  }
  75% {
    stroke: #0ab3bc;
  }
  100% {
    stroke: #00bfa5;
  }
}

@keyframes colors {
  0% {
    stroke: #2196f3;
  }
  25% {
    stroke: #2196f3;
  }
  50% {
    stroke: #15a4d7;
  }
  75% {
    stroke: #0ab3bc;
  }
  100% {
    stroke: #00bfa5;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

.btn.boxed-btn{
    padding: 11px 7px 9px 8px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 0;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    font-size: 14px;
    text-transform: uppercase;
}

.col-lg-12{
    padding-left: 45px;
    padding-right: 45px;
}

#section-title h2{
    margin-bottom: 12px;
    color: #2196F3;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
}

#section-title h2 a{
    color: #2196F3;
}

#section-title h2 a:hover{
    color: #1D86DA;
    text-decoration: none;
}

.gradient {
    height: 64px;
    background-image: -o-linear-gradient(303deg, #2196F3 9%, #15A4D7 54%, #0AB3BC 100%, #00BFA5 100%);
    background-image: -moz-linear-gradient(303deg,#2196F3 9%, #15A4D7 54%, #0AB3BC 100%, #00BFA5 100%);
    background-image: -webkit-linear-gradient(303deg, #2196F3 9%, #15A4D7 54%, #0AB3BC 100%, #00BFA5 100%);
    background-image: -ms-linear-gradient(303deg, #2196F3 9%, #15A4D7 54%, #0AB3BC 100%, #00BFA5 100%);
    background-image: linear-gradient(to 303deg, #2196F3 9%, #15A4D7 54%, #0AB3BC 100%, #00BFA5 100%);
}

.gradient .elem-bar{
    color: #FFFFFF;
}

.content-list{
    padding-top: 45px;
    margin: 0 auto !important;
    float: none !important;
}

/*REGISTRY SCREEN COMPONENTS*/
.elem-bar h2{
    display: inline-block;
    padding-left: 50px;
    padding-right: 20px;
    font-weight: 300;
    font-size: 28px;
}

.elem-bar h2 a{
    color: #FFFFFF;
    font-weight: 300;
}

.elem-bar h2 a:hover{
    color: #FFFFFF;
    text-decoration: none;
}

.elem-bar input.focus-bar{
    width: 34%;
    height: 30px;
    padding-left: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.elem-bar a{
    margin-top: 10px;
}

.btn.boxed-btn.submit-btn{
    color: #FFFFFF;
}

.table>tbody>tr>td{
    border-top: 1px solid #f1f1f1;
}

td{
    height: 75px;
}

a.stack-name{
    color: #666;
    font-size: 16px;
    font-weight: 700;
}

a.stack-name:hover{
    text-decoration: none;
}

p.stack-services{
    padding-top: 10px;
    margin-bottom: 0px;
    color: #666;
    font-size: 14px;
    font-weight: 400;
}

p.stack-user{
    margin-top: 4px;
    color: #999;
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
}


.btn.boxed-btn.deploy-btn{
    color: #2196F3;
    border-color: #2196F3;
}

.btn.boxed-btn.deploy-btn:hover{
    color: #1D86DA;
    border-color: #1D86DA;
}

.btn.boxed-btn.danger-btn{
    margin-left: 5px;
    color: #ef4336;
    border-color: #ef4336;
}

.btn.boxed-btn.danger-btn:hover{
    color: #ef4336;
    border-color: #ef4336;
}


.tags{
    display: inline-block;
    padding-right: 5px;
}

.grey-tag{
    background-color: #F1F1F1;
    color: #999;
    padding: 3px 6px 3px 6px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
}

@media(max-width:768px) {
    .elem-bar h2{
        padding: 0;
    }
}

@media(max-width:488px) {
    .btn.boxed-btn.submit-btn{
        margin-top: 20px;
        border-color: #2196F3;
        color: #2196F3;
        z-index: 2;
    }
}

/*CREATE SCREEN COMPONENTS*/

#create .stackfile pre{
    height: 338px;
    border: none;
    border-radius: 2px;
}

.inputs .form-control.floating-label::-webkit-input-placeholder {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.inputs .form-control.floating-label:-ms-input-placeholder {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.inputs .form-control.floating-label:-moz-placeholder {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.inputs .form-control.floating-label::-moz-placeholder {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

/*OVERRIDE CHOSEN CSS START*/

.select{
    margin-top: 36px;
}

.chosen-container-single .chosen-single{
    margin-top: 24px;
    padding: 0;
    width: 180px;
    background-color: #f1f1f1;
    background-image: none;
    border: none;
    border-radius: 2px;
    height: 56px;
    box-shadow: none;
}

.chosen-container .chosen-drop{
    border: none;
    border-radius: 2px;
    padding-top: 6px;
}

.chosen-container-active.chosen-with-drop .chosen-single{
    background-image: none;
    border: none;
    box-shadow: none;
    border-radius: 2px;
}

.chosen-container-single .chosen-single span{
    padding-top: 18px;
    margin-right: 26px;
    text-align: center;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
}

.chosen-container-single .chosen-single div b{
    margin-top: 18px;
    margin-right: 16px;
}

.chosen-container .chosen-results li{
    padding: 14px 116px 13px 16px;
    color: #666666;
    font-size: 14px;
    font-weight: 400;
}

.chosen-container .chosen-results li.highlighted{
    background-color: #FFFFFF;
    background-image: none;
    color: #666666;
}

/*OVERRIDE CHOSEN CSS END*/

.create-form{
    margin-top: 90px;
}

.inputs{
    width: 380px;
}

.form-control{
    background-image: linear-gradient(#2196F3,#2196F3),linear-gradient(#f1f1f1,#f1f1f1);
}

.form-control:focus, .form-control.focus{
    background-image: linear-gradient(#2196F3,#2196F3),linear-gradient(#f1f1f1,#f1f1f1);
}

.stackfile h4{
    color: #666666;
    font-size: 16px;
    font-weight: 400;
}

.stackfile p{
    color: #666666;
    font-size: 12px;
    font-weight: 400;
}

.validation{
    padding-top: 73px;
}

.validation .btn.boxed-btn.create-btn{
    color: #2196F3;
    border-color: #2196F3;
}

.validation .btn.boxed-btn.create-btn:hover{
    color: #1D86DA;
    border-color: #1D86DA;
}

.validation .btn.boxed-btn.cancel-btn{
    color: #ef4336;
    border-color: #ef4336;
}

.validation .btn.boxed-btn.cancel-btn:hover{
    color: #ef4336;
    border-color: #ef4336;
}

/*DETAIL COMPONENTS*/

#detail {
    padding: 120px 100px 120px 110px;
}

#detail h2 {
    color: #666666;
    font-size: 24px;
    font-weight: 300;
}

#detail hr{
    margin-top: 28px;
    margin-bottom: 28px;
}

.section .label{
    padding-left: 0;
    padding-right: 74px;
    color: #CCCCCC;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
}

.section .content{
    color: #666666;
    font-size: 14px;
    display: inline-block;
}

.section .stackfile{
    vertical-align: top;
    width: 80%;
    display: inline-block;
}

.section .stackfile pre{
    border: none;
    border-radius: 0px;
    width: 80%;
    height: 300px;
}

.section .stackfile p{
    color: #666666;
    font-size: 12px;
    font-weight: 400;
}

@media(max-width:1200px) {
    #detail {
        padding: 45px 100px 100px 20px;
    }
}

@media(max-width:768px) {
    #detail {
        padding: 45px 20px 20px 20px;
    }

    .section .stackfile{
        width: 100%;
    }
    .section .stackfile pre{
        width: 100%;
    }
}


/*SIDEBAR*/
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #FFFFFF;
    border-right: 1px solid #f1f1f1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 150px;
}

#page-content-wrapper {
    width: 99%;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 150px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand img {
    width: 44px;
    height: 44px;
    margin: 13px auto;
}

.sidebar-nav > .sidebar-brand a {
    display: inline-block;
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 120px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 120px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
