@import url(//fonts.googleapis.com/css?family=Lato:300,400,400italic);

/*MAIN COMPONENTS*/
html{
    height: 100%;
    -webkit-font-smoothing: antialiased;
    background-color: #FFFFFF;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4{
    font-family: 'Lato';
}

a, a:hover{
    color: #2196F3;
}

.row{
    margin: 0;
}

#hero-header{
    background-image: url("./../img/bg.png"), -o-linear-gradient(303deg, #2196F3 9%, #15A4D7 54%, #0AB3BC 100%, #00BFA5 100%);
    background-image: url("./../img/bg.png"), -moz-linear-gradient(303deg,#2196F3 9%, #15A4D7 54%, #0AB3BC 100%, #00BFA5 100%);
    background-image: url("./../img/bg.png"), -webkit-linear-gradient(303deg, #2196F3 9%, #15A4D7 54%, #0AB3BC 100%, #00BFA5 100%);
    background-image: url("./../img/bg.png"), -ms-linear-gradient(303deg, #2196F3 9%, #15A4D7 54%, #0AB3BC 100%, #00BFA5 100%);
    background-image: url("./../img/bg.png"), linear-gradient(to 303deg, #2196F3 9%, #15A4D7 54%, #0AB3BC 100%, #00BFA5 100%);
    margin: 0;
    color: white;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

#hero-header h1{
    font-size: 40px;
    font-weight: 300;
}

#hero-header .subtitle{
    font-size: 22px;
    font-weight: 300;
}

#hero-header .brand{
    padding: 20px 50px 20px 50px;
    font-size: 18px;
    font-weight: 400;
}

#hero-header .content{
    text-align: center;
    padding-top: 100px;
}

.label{
    background-color: #FFFFFF!important;
}

/*MAIN PAGE COMPONENTS*/

.btn.boxed-btn{
    padding: 6px 9px 6px 9px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 700;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    text-transform: uppercase;
    margin-right: 10px;
    margin-left: 10px;
}

.btn.boxed-btn.github-btn {
    background: #FFFFFF;
    color: #2196F3;
    width: 180px;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 40px 6px 21px!important;
}

.btn.boxed-btn.github-btn:hover {
    color: #1D86DA;
    background: #FFFFFF;
}

.btn.boxed-btn.browse-btn{
    color: #FFFFFF;
    width: 180px;
    padding: 6px 60px 6px 60px!important;
}

#hero-header input.search{
    color: #2196F3;
    margin-top: 23px;
    margin-bottom: 36px;
    width: 380px;
    height: 36px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    border-radius: 2px;
    border: none;
    padding-left: 51px;
    background: url('./../img/search_white.svg') transparent 17px center no-repeat;
    background-size: 24px 24px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.20);
}

#hero-header input::-webkit-input-placeholder {
	color: #ffffff;
    opacity: 0.5;
    font-size: 13px;
}
#hero-header input::-moz-placeholder {
	color: #ffffff;
    opacity: 0.5;
    font-size: 13px;
}
#hero-header input:-moz-placeholder {   /* Older versions of Firefox */
	color: #ffffff;
    opacity: 0.5;
    font-size: 13px;
}
#hero-header input:-ms-input-placeholder {
	color: #ffffff;
    opacity: 0.5;
    font-size: 13px;
}

#hero-header .content img {
    width: 16px;
}

#hero-header .footer{
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 15px;
    font-size: 12px;
    font-weight: 400;
}

#hero-header .footer a{
    color: #FFFFFF;
    text-decoration: underline;
}

#hero-header .footer img{
    width: 13px;
    height: 12px;
}

.elem404{
    display: inline-block;
    text-align: left;
    padding-top: 100px;
}

.elem404 p{
    font-weight: 400;
}

.elem404 p a{
    color: #ffffff;
    text-decoration: underline;
}

.black-bar{
    position: relative;
    bottom: -15px;
    height: 10px;
    background-color: rgba(0,0,0,0.2);
}

.fix{
    position:fixed;
    bottom:0px;
    left:30%;
    width:20%;
}

/*REGISTRY COMPONENTS*/

/*MAIN APP COMPONENTS*/

#loading{
    text-align: center;
    padding-top: 200px;
}

.col-lg-11.content-list{
    max-width: 980px;
}

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: #2196f3;
  }
  25% {
    stroke: #2196f3;
  }
  50% {
    stroke: #15a4d7;
  }
  75% {
    stroke: #0ab3bc;
  }
  100% {
    stroke: #00bfa5;
  }
}

@keyframes colors {
  0% {
    stroke: #2196f3;
  }
  25% {
    stroke: #2196f3;
  }
  50% {
    stroke: #15a4d7;
  }
  75% {
    stroke: #0ab3bc;
  }
  100% {
    stroke: #00bfa5;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

#section-title{
    text-align: center;
    height: 64px;
}

#section-title h2{
    display: inline-block;
    margin-top: 14px;
    margin-bottom: 14px;
    color: #2196F3;
    font-size: 28px;
    font-weight: 300;
}

#section-title .login{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 19px;
    margin-right: 180px;
    color: #2196F3;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

#section-title .dropdown.login{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 14px;
    margin-right: 148px;
    color: #2196F3;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

#section-title .dropdown.login .dropdown-toggle{
    background-color: #FFFFFF;
    border: none;
    margin-top: 5px;
}

#section-title .dropdown.login .dropdown-menu{
    border-radius: 2px;
    color: #2196F3;
    font-size: 12px;

}

#section-title .avatar {
    width: 36px;
    border-radius: 36px;
    margin-right: 12px;
}

#section-title a{
    color: #2196F3;
}

#section-title a:hover{
    color: #1D86DA;
    text-decoration: none;
}

@media(max-width: 1200px){
    #section-title .dropdown.login{
        margin-right: 25px;
    }
}

.gradient {
    height: 64px;
    padding: 0;
    z-index: 2;
    background: -o-linear-gradient(303deg, #2196F3 9%, #15A4D7 54%, #0AB3BC 100%, #00BFA5 100%);
    background: -moz-linear-gradient(303deg,#2196F3 9%, #15A4D7 54%, #0AB3BC 100%, #00BFA5 100%);
    background: -webkit-linear-gradient(303deg, #2196F3 9%, #15A4D7 54%, #0AB3BC 100%, #00BFA5 100%);
    background: -ms-linear-gradient(303deg, #2196F3 9%, #15A4D7 54%, #0AB3BC 100%, #00BFA5 100%);
    background: linear-gradient(to 303deg, #2196F3 9%, #15A4D7 54%, #0AB3BC 100%, #00BFA5 100%);
}

.gradient .elem-bar{
    color: #FFFFFF;
}

.content-list{
    padding-top: 45px;
    margin: 0 auto !important;
    float: none !important;
}

/*REGISTRY SCREEN COMPONENTS*/
.elem-bar{
    height: inherit;
    margin: 0 auto;
    max-width: 980px;
}

.elem-bar h2{
    min-width: 146px;
    height: 35px;
    display: inline-block;
    margin-top: 14px;
    font-weight: 300;
    font-size: 28px;
    float: left;
}

.elem-bar .stack-detail{
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.elem-bar h2 a{
    color: #FFFFFF;
    font-weight: 300;
}

.elem-bar h2 a:hover{
    color: #FFFFFF;
    text-decoration: none;
}

.elem-bar .search-container{
    display: inline-block;
    position: relative;
    width: 65%;
}

.elem-bar input.search-bar{
    width: 90%;
    height: 36px;
    margin-top: 14px;
    margin-bottom: 14px;
    margin-left: 30px;
    vertical-align:middle;
    padding-left: 40px;
    padding-right: 40px;
    background: none;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.20);
    background: url('./../img/search_white.svg') transparent 14px center no-repeat;
    background-color: rgba(255, 255, 255, 0.3);
    background-size: 18px 18px;
}

.elem-bar .clear-search{
    position: relative;
    right: 25px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
}

.elem-bar a{
    margin-top: 14px;
}

@media(max-width: 1200px){
    .gradient{
        padding-left: 50px;
        padding-right: 25px;
    }

    .elem-bar h2{
        width: auto;
    }

    .elem-bar .search-container{
        width: 60%;
    }
}

.elem-bar .star{
    margin-right: 67px;
    margin-top: 20px;
}

.btn.boxed-btn.submit-btn{
    color: #FFFFFF;
}

.table>tbody>tr{
    height: 91px;
}

.table>tbody>tr>td{
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    padding-top: 19px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 9px;
}

td.main{
    width: 60%;
}

p.favorite-num{
    position: relative;
    top: -5px;
    display: inline-block;
    padding-left: 6px;
    color: #cccccc;
    font-size: 12px;
    font-weight: 400;
    font-style: italic;
}



a.stack-name{
    width: 60%;
    display: block;
    color: #666;
    font-size: 16px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a.stack-name:hover{
    text-decoration: none;
}

p.stack-services{
    display: inline-block;
    padding-top: 10px;
    margin-bottom: 0px;
    color: #666;
    font-size: 14px;
    font-weight: 400;
}

p.stack-user{
    display: inline-block;
    margin-top: 4px;
    padding-left: 10px;
    color: #999;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}

span.stack-user{
    display: inline-block;
    margin-top: 4px;
    padding-left: 10px;
    color: #999;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
}


.btn.boxed-btn.deploy-btn{
    color: #2196F3;
    border-color: #2196F3;
}

.btn.boxed-btn.embed-btn{
    color: #00c8b4;
    border-color: #00c8b4;
}

.btn.boxed-btn.deploy-btn:hover{
    color: #1D86DA;
    border-color: #1D86DA;
}

.btn.boxed-btn.danger-btn{
    margin-left: 5px;
    color: #ef4336;
    border-color: #ef4336;
}

.btn.boxed-btn.danger-btn:hover{
    color: #ef4336;
    border-color: #ef4336;
}

.no-content{
    font-size: 18px;
    text-align: center;
}

a.delete-btn{
    margin-top: 20px;
}

a.delete-btn img{
    width: 26px;
    cursor: pointer;
}

.star.btn-off{
    cursor: pointer;
}

.star.btn-off-unfav{
    pointer-events: none;
    cursor: default;
}

.star.btn-on{
    pointer-events: none;
    cursor: default;
}

.star.btn-on-unfav{
    cursor: pointer;
}

svg.star.btn-on path{
    stroke: #ffc400;
    fill: #ffc400;
}

svg.star.btn-on-unfav path{
    stroke: #ffc400;
    fill: #ffc400;
}

.tags{
    display: inline-block;
    padding-right: 5px;
}

.grey-tag{
    background-color: #F1F1F1;
    color: #999;
    padding: 3px 6px 3px 6px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
}

@media(max-width:768px) {
    .elem-bar h2{
        padding: 0;
    }
}

@media(max-width:488px) {
    .btn.boxed-btn.submit-btn{
        margin-top: 20px;
        border-color: #2196F3;
        color: #2196F3;
        z-index: 2;
    }
}

/*CREATE SCREEN COMPONENTS*/

#detail-create {
    padding-top: 70px;
    max-width: 980px;
}

#detail-create.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

#detail-create .timeline{
    position: absolute;
    margin-top: -20px;
    height: 396px;
}

#detail-create .inputs{
    border-left: 1px solid #fafafa;
    padding-left: 40px;
}

#detail-create .stackfile{
    margin-top: -28px;
}

#detail-create .stackfile pre{
    padding: 20px;
    height: 364px;
    border: none;
    border-radius: 2px;
}

.bullet{
    position: relative;
    right: 10px;
    width: 20px;
    border-radius: 50%;
    background-color: #2196F3;
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;
}

textarea.form-control{
    margin-top: 40px;
}

.form-control-wrapper .form-control:focus~.floating-label{
    color: #2196F3;
    font-size: 13px;
    font-weight: 400;
}

.form-control-wrapper .form-control:focus~.floating-label, .form-control-wrapper .form-control:not(.empty)~.floating-label{
    top: -20px;
    font-size: 13px;
}

.inputs .form-control.floating-label::-webkit-input-placeholder {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.inputs .form-control.floating-label:-ms-input-placeholder {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.inputs .form-control.floating-label:-moz-placeholder {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.inputs .form-control.floating-label::-moz-placeholder {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

/*OVERRIDE CHOSEN CSS START*/

.select{
    margin-top: 36px;
}

.chosen-container{
    display: block;
}

.chosen-container-single .chosen-single{
    margin-top: 20px;
    padding: 0;
    width: 180px;
    background-color: #f1f1f1;
    background-image: none;
    border: none;
    border-radius: 2px;
    height: 36px;
    box-shadow: none;
}

.chosen-container .chosen-drop{
    border: none;
    border-radius: 2px;
    padding-top: 6px;
}

.chosen-container-active.chosen-with-drop .chosen-single{
    background-image: none;
    background-color: #cccccc;
    border: none;
    box-shadow: none;
    border-radius: 2px;
}

.chosen-container-single .chosen-single span{
    padding-top: 6px;
    margin-right: 26px;
    text-align: center;
    color: #666666;
    font-size: 16px;
    font-weight: 400;
}

.chosen-container-single .chosen-single div b{
    margin-top: 8px;
    margin-right: 20px;
}

.chosen-container .chosen-results li{
    padding-top: 14px;
    padding-bottom: 13px;
    padding-left: 16px;
    color: #666666;
    font-size: 14px;
    font-weight: 400;
}

.chosen-container .chosen-results li.highlighted{
    background-color: #FFFFFF;
    background-image: none;
    color: #666666;
}

/*OVERRIDE CHOSEN CSS END*/

.create-form{
    margin-top: 48px;
}

.inputs{
    width: 380px;
}

.form-control{
    background-image: linear-gradient(#2196F3,#2196F3),linear-gradient(#f1f1f1,#f1f1f1);
    font-weight: 400;
}

.form-control:focus, .form-control.focus{
    background-image: linear-gradient(#2196F3,#2196F3),linear-gradient(#f1f1f1,#f1f1f1);
}

.stackfile h4{
    color: #666666;
    font-size: 16px;
    font-weight: 400;
}

.stackfile p{
    color: #666666;
    font-size: 12px;
    font-weight: 400;
}

.validation{
    padding-top: 40px;
}

.validation .btn.boxed-btn.create-btn{
    color: #2196F3;
    border-color: #2196F3;
}

.validation .btn.boxed-btn.create-btn:hover{
    color: #1D86DA;
    border-color: #1D86DA;
}

.validation .btn.boxed-btn.cancel-btn{
    color: #ef4336;
    border-color: #ef4336;
}

.validation .btn.boxed-btn.cancel-btn:hover{
    color: #ef4336;
    border-color: #ef4336;
}

/*DETAIL COMPONENTS*/

#detail {
    padding-top: 16px;
    max-width: 780px;
}

#detail h2 {
    color: #666666;
    font-size: 24px;
    font-weight: 300;
}

#detail hr{
    margin-top: 28px;
    margin-bottom: 28px;
}

.section .label{
    padding-left: 0;
    padding-right: 74px;
    color: #CCCCCC;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
}

.section .content{
    vertical-align: top;
    width: 70%;
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
}

.section .stackfile{
    vertical-align: top;
    display: inline-block;
}

.section .stackfile pre{
    border: none;
    padding: 20px;
    border-radius: 0px;
    height: 300px;
    width: 516px;
}

.section .stackfile p{
    color: #666666;
    font-size: 12px;
    font-weight: 400;
}

@media(max-width:1200px) {
    #detail {
        padding: 45px 100px 100px 20px;
    }
}

@media(max-width:768px) {
    #detail {
        padding: 45px 20px 20px 20px;
    }

    .section .stackfile{
        width: 100%;
    }
    .section .stackfile pre{
        padding: 10px;
        width: 100%;
    }
}

/* MODAL */

.modal-content{
    background-color: #fafafa;
}

.modal-content .modal-header{
    padding-top: 17px;
    padding-left: 20px;
}

.modal-content .modal-body{
    margin-top: 7px;
    padding-left: 20px;
    padding-right: 10px;
}

.modal-content .modal-body p{
    font-size: 14px;
    font-weight: 400;
    color: #666666;
}

.modal-content .modal-body form{
    margin-top: 41px;
    margin-bottom: 0px;
}

.modal-content .modal-body form p{
    margin-bottom: 11px;
    font-size: 12px;
    font-weight: 400;
    color: #666666;
}

.modal-content .modal-body form input{
    display: inline-block;
    height: 28px;
    width: 516px;
    padding-left: 9px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-family: 'Menlo';
    font-size: 12px;
    font-weight: 300;
    color: #666666;
    border: none;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.20);
}

.modal-content .modal-body form a img{
    display: inline-block;
    width: 15px;
    margin-left: 10px;
}

.modal-title{
    font-size: 22px;
    font-weight: 400;
    color: #666666;
}

@media(min-width:768px)  {
    .modal-dialog{
        width: 580px;
        height: 207px;
        margin-top: 246px;
    }
}


/*SIDEBAR*/
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #FFFFFF;
    border-right: 1px solid #f1f1f1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 100px;
}

#page-content-wrapper {
    background-color: #FFFFFF;
    position: absolute;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    text-align: center;
    position: absolute;
    top: 0;
    width: 100px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    line-height: 40px;
}

.sidebar-nav li a {
    display: inline-block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav li.selected {
    border-left: 2px solid #2196F3;
}

.sidebar-nav > li img {
    width: 24px;
    height: 24px;
    margin: 20px auto;
    text-align: center;
}

.sidebar-nav > .sidebar-brand img.logo {
    width: 44px;
    height: 44px;
    margin-top: 13px;
    margin-bottom: 56px;
    margin-left: auto;
    margin-right: auto;
}

.sidebar-nav > .sidebar-brand a {
    display: flex;
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 100px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 101px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
